p {
    color: rgb(228, 179, 179);
    background-color: rgb(0, 0, 0);;
    font-size: 16pt;
    font-family:'Courier New', Courier, monospace
}
/* Class: .className{} */
.Ciallo {
    color: mediumslateblue;
}
/* id: #idName{} */
#second {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: red 10px solid;
    padding: 100px;
    margin: 30px;
    margin-left: 25%;
}