body {
    font-family: monospace;
    background-color: rgb(19, 19, 19);
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.clock-hhmmss-container, 
.clock-yymmdd-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.clock-hhmmss-container .time-unit p {
    font-size: 3rem;
    height: 80px;
}

.clock-yymmdd-container .time-unit p {
    font-size: 1.5rem;
    height: 80px;      
}

.time-unit {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    min-width: 150px;
}

.label {
    width: 100%;
    text-align: center;
    color: #a0a0a0;
    font-size: 0.8rem;
    margin-top: 10px;
    display: block;
}

.separator {
    font-size: 2rem;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;
    margin: 0;
} 

.small {
    height: 80px;
}