.page-content {
  margin: 50%;
}
body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  overflow-x: hidden;
}
.white {
  background-color: #f0f0f0;
  color: black;
}
.black {
    background-color:hsl(240, 76%, 8%);
    color: #f0f0f0
}
.rain-container {
  width: 1080px;
  text-align: center;
  padding: 20px 0;
  line-height: 1;
  word-wrap: break-word;
}

.rain-container {
  width: 1080px;
  text-align: center;
  padding: 20px 0;
  line-height: 1;
  word-wrap: break-word;
}

.def-container {
  width: 540px;
  text-align: center;
  padding: 120px 0;
  line-height: 2;
  word-wrap: break-word;
}

a {
  color: #f0f0f0;
  background-color: #110ee6;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
    background-color: #f0f0f0;
    color: #110ee6;
}

.placeholder {
  margin: 100px 0;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.rain {
  line-height: 8;
}

.cloud-background {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1; 
            
            color: rgba(0, 0, 0, .2); 
            
            font-size: 16px;
            line-height: 1;
            white-space: pre;
            text-align: center;
            pointer-events: none;
}

.net{
  display: inline-block;
  font-size: 12px;
  line-height: 1;
   white-space: pre; 
  text-align: left;
  pointer-events: none;
}

.dark {
    background-color:hsl(240, 19%, 25%);
    color: #f0f0f0
}



summary::marker {
    color:#110ee6;
}

ul {
  display: table;
  margin: 0 auto;
}
ol  {
  display: table;
  margin: 0 auto;
}

header {
  text-align: center;
}
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000FF;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    font-family: monospace;
    letter-spacing: 5px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: .2; 
}