.parent {
    background-color: aliceblue;
    width: 100%;
    height: 400px;

}


.child {
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin-left: 50px;

    display: inline-block;
}

#rotate {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* Only select clicked class inside of parent class */
.parent > .clicked {
    background-color: tomato;
    border: dashed maroon 5px;
}